

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f8f9fa;
 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #007bff;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  font-family: 'Arial Black', sans-serif;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
button {
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 2px solid #007bff;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
}

button.delete {
  background-color: #dc3545;
}

h1{
text-align: center;

}

select{
  margin-bottom: 10px;
}